[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = OrientDB is the most versatile DBMS supporting Graph, Document, Reactive, Full-Text, Geospatial and Key-Value models in one Multi-Model product. OrientDB can run distributed (Multi-Master), supports SQL, ACID Transactions, Full-Text indexing and Reactive Queries. OrientDB Community Edition is Open Source using a liberal Apache 2 license.
[access "refs/*"]
	owner = group user/sourabh2182
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sourabh2182
	label-Verified = -1..+1 group user/sourabh2182
	push = group user/sourabh2182
	read = group user/sourabh2182
	rebase = group user/sourabh2182
	removeReviewer = group user/sourabh2182
	submit = group user/sourabh2182
[access "refs/heads/*"]
	create = group user/sourabh2182
	push = +force group user/sourabh2182
	pushMerge = group user/sourabh2182
	read = group user/sourabh2182
[access "refs/tags/*"]
	push = group user/sourabh2182
	push = +force group user/sourabh2182
